.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;

  &.backdrop-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.backdrop-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: $third-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 1200px) {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
}

.form-box {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 12px;
  padding: 0;
}

.form-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  &:focus-within + .form-field-icon {
    fill: $accent-color;
  }
}

.form-field:focus-within,
.form-field-feedback:focus-within {
  border-color: $accent-color;
}

.form-field-feedback {
  height: auto;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-label {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

.form-title {
  font-size: 20px;
  line-height: 23px;
  color: $second-color;
  text-align: center;
  margin-top: 2px;
  margin-left: 40px;
  margin-right: 40px;
}

.label-title {
  font-size: 12px;
  line-height: 1.16;
}

.form-field-icon {
  position: absolute;
  top: 55%;
  left: 12px;
}

.form-checkbox-label {
  width: 100%;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-checkbox-title {
  margin-left: 7px;

  @media (max-width: 1200px) {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.terms {
  color: $accent-color;
}

.form-checkbox-field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox-icon {
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid $second-color;
  border-radius: 2px;

  .form-checkbox-field:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

.button-close-box {
  display: flex;
  justify-content: flex-end;
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: $third-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: $second-color;

  .button-close:focus-within > & {
    fill: $accent-color;
  }
}

.button-box {
  padding-bottom: 40px;
}
