.team-section {
  background-color: $bg-color;
}

.team-title-main {
  padding-top: 94px;

  @media (max-width: 760px) {
    padding-top: 60px;
  }
}

.team-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $second-color;
}

.team-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-item {
  background-color: $third-color;
  min-height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.container .team-list {
  // display: flex;
  padding: 0;
  margin-top: 50px;
  padding-bottom: 94px;

  @media (max-width: 760px) {
    margin-top: 30px;
    padding-bottom: 60px;
  }
}

.team-img {
  text-align: center;
}

@media (max-width: 760px) {
  .container .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

// .container .team-item:not(:last-child) {
//   // margin-right: 30px;
// }

.team-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px 30px 32px;
}

.icon-link {
  display: inline-flex;
}

.team-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  border: none;
  color: #afb1b8;
  background-color: $third-color;
  padding: 12px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $third-color;
    background-color: $accent-color;
  }
}

.team-social {
  fill: currentColor;
}
