.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-background.jpg");

  @media (min-width: 480px) {
    width: 480px;
  }

  @media (min-width: 760px) {
    width: 760px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $third-color;
}

.hero-button {
  display: block;
  min-width: 200px;
  padding: 10px 32px 10px 32px;
  border: transparent;
  border-radius: 4px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: $third-color;
  background-color: $accent-color;

  cursor: pointer;
}

.hero-button__shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:focus-within,
.hero-button:focus-within,
.hero-button__shadow:focus-within {
  background: #188ce8;
}
