.menu-button {
  display: inline-flex;
  right: 0;
  text-align: right;
  margin-left: auto;
  padding: 0;
  border: none;
  background: transparent;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $third-color;
  z-index: 999;

  transform: translateX(150%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgb(2, 1, 1);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-menu .mobile-menu-link {
  position: relative;
  display: block;
  padding-bottom: 32px;
  font-size: 40px;
}

.header-contacts.mobile-contacts {
  position: absolute;
  display: block;
  padding-left: 40px;
  left: 0;
  bottom: 0;
}

.mobile-contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $accent-color;
  margin-bottom: 32px;
}

.mobile-contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $main-color;
  margin-bottom: 64px;
}

.mobile-contacts-social {
  margin-bottom: 48px;
}

.mobile-contacts-list {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.mobile-contacts-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  text-align: center;
  text-decoration: none;
}

.mobile-contacts-decor {
  margin-left: 10px;
  margin-right: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding: 0;
}
